<!--===Botones de navegación======-->
<section>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-2" id="row1">
          <div class="menu">
            <button class="btn" [routerLink]="'/presentacion'" routerLinkActive="active">Profile</button>
            <button class="btn" [routerLink]="'/data'">Personal Information</button>
            <button class="btn" [routerLink]="'/education'" >Education</button>
            <button class="btn" [routerLink]="'/objective'" >Objectives</button>
            <button class="btn" [routerLink]="'/contact'">Contact me</button>
          </div>
        </div>
        <div class="col-md-10">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</section>
