<body>
<main class="d-flex justify-content-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center" >
                <p class="tittle mb-2 ">Contáctame: </p>
            </div>
            <div class="col-md-12 mb-2" id="description">
                <div class="text-center"><p>Llene el formulario y envíelo. Le responderé a la mayor brevedad posible.</p></div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <form [formGroup]="ContactForm" (ngSubmit)="onFormSubmit()">
            
                    <div class="row">
                    <div class="col-md-6">

                    <!-- First Name -->
                      <label for="firstName" 
                      class="form-label">Nombre: </label><br>
                      
                      <input type="text" id="firstName" 
                      formControlName="firstName" 
                      class="form-control">
                    </div>
                    <br>

                    <!-- Last Name -->
                    <div class="col-md-6">
                      <label for="lastName" class="form-label">Apellido: </label><br>
                      <input type="text" 
                      id="lastName" 
                      formControlName="lastName" 
                      class="form-control">
                    </div>
                    <br>
            </div><br>

                   <!-- Email -->
                    <div>
                        <label for="email" class="form-label">Email: </label><br>
                        <input type="text" 
                        id="email" 
                        formControlName="email" 
                        class="form-control">
                      </div>
                    <br>

                    <!-- Message -->
                    <div>
                        <label for="message" class="form-label">Mensaje: </label><br>
                        <textarea name="message" 
                        id="message" cols="30" rows="3" 
                        formControlName="message" 
                        class="form-control">
                        </textarea>
                      </div>
                  </form>
            </div>
            <div class="col-md-12 mt-3 d-flex justify-content-center">
                <button [disabled]="ContactForm.invalid" class="form-control mt-2 mb-4 btn btn-primary" (click)="send()">Enviar</button>
            </div>
        </div>
    </div>
<div>
</div>
</main>
</body>